-- Set up database configuration
SET
statement_timeout = 0;
SET
lock_timeout = 0;
SET
idle_in_transaction_session_timeout = 0;
SET
client_encoding = 'UTF8';
SET
standard_conforming_strings = on;
SET
client_min_messages = warning;

-- Create tables
CREATE TABLE IF NOT EXISTS genres
(
    id
    integer
    GENERATED
    ALWAYS AS
    IDENTITY
    PRIMARY
    KEY,
    genre
    character
    varying
(
    255
),
    created_at timestamp without time zone,
    updated_at timestamp
                         without time zone
    );

CREATE TABLE IF NOT EXISTS movies
(
    id
    integer
    GENERATED
    ALWAYS AS
    IDENTITY
    PRIMARY
    KEY,
    title
    character
    varying
(
    512
),
    release_date date,
    runtime integer,
    mpaa_rating character varying
(
    10
),
    description text,
    image character varying
(
    255
),
    created_at timestamp without time zone,
    updated_at timestamp
                         without time zone
    );

CREATE TABLE IF NOT EXISTS movies_genres
(
    id
    integer
    GENERATED
    ALWAYS AS
    IDENTITY
    PRIMARY
    KEY,
    movie_id
    integer,
    genre_id
    integer
);

CREATE TABLE IF NOT EXISTS users
(
    id
    integer
    GENERATED
    ALWAYS AS
    IDENTITY
    PRIMARY
    KEY,
    first_name
    character
    varying
(
    255
),
    last_name character varying
(
    255
),
    email character varying
(
    255
),
    password character varying
(
    255
),
    created_at timestamp without time zone,
    updated_at timestamp
                         without time zone
    );

-- Add foreign keys
ALTER TABLE movies_genres
    ADD CONSTRAINT movies_genres_genre_id_fkey
        FOREIGN KEY (genre_id) REFERENCES genres (id) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE movies_genres
    ADD CONSTRAINT movies_genres_movie_id_fkey
        FOREIGN KEY (movie_id) REFERENCES movies (id) ON UPDATE CASCADE ON DELETE CASCADE;

-- Insert initial data


INSERT INTO movies_genres (movie_id, genre_id)
VALUES (2, 5),
       (2, 11),
       (3, 9),
       (3, 7),
       (4, 5),
       (4, 9),
       (1, 5),
       (1, 12);

INSERT INTO users (first_name, last_name, email, password, created_at, updated_at)
VALUES ('Admin', 'User', 'admin@example.com', '$2a$14$wVsaPvJnJJsomWArouWCtusem6S/.Gauq/GjOIEHpyh2DAMmso1wy',
        '2022-09-23 00:00:00', '2022-09-23 00:00:00');